.App {
  text-align: center;
  background: #6190E8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  height:100vh;
  width:100vw;
  display: flex;  
  align-items: center;
  flex-direction: column;
  justify-content:space-between;
}

.header {
  /* background:rgba(255,255,255,0.2); */
  /* border-bottom:2px solid white; */
  height: 2.5rem;
  display:flex;
  align-items: center;
  padding: 0 12px;
  font-size: 3rem;
  color: white;
  font-weight: bold;
  margin-top: 2.5%;
}

.logo{
  height:1.8rem;
  width:1.8rem;
  margin-right:10px;
  background: url(https://emoji.slack-edge.com/T01HUNLEC2E/partyparrot/f239540fcb56c0b4.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}

.text-input{
  background:rgba(255,255,255,0.2);
  border-top:1px solid white;
  height: 2.5rem;
  position: relative;
  /* display: flex; */
  width: 100%;
  align-items: center;
  justify-content: center;
}

input{
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  width: 80%;
  border-radius: .8rem;
  height: 25px;
  background-color: rgba(49, 49, 49, .75);
  color: white;
  margin-left: 9%;
  font-size: 20px;
  position: absolute;
}

button {
  position: absolute;
  right: 3rem;
  top:0.5rem;
  border-radius:100%;
  border:2px solid white;
  background:rgba(255, 255, 255, 0.726);
  color:black;
  cursor: pointer;
  outline:none;
  height:1.3rem;
  width:1.3rem;
}

.messages{
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-end;
}
.message-row{
  width:100%;
}
.message{
  background:black;
  color:white;
  border-radius:10px;
  margin:10px;
  display: inline-block;
  padding: 4px 12px;
}






